

p {
    color: blue;
}


a {
    color:red ;
    font-family: sans-serif; font-style: italic;
}
h1, aside {
background-color: gray;
}
h2 {
    font-size: 15px;
    background-color: #ccc;
    margin: 15px;
    padding: 15px;
  }
  body {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color:gray;
    border-radius: 10px 20px 30px 40px;    
  }
img{
    border-radius: 200px 200px 200px 200px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn{
  position: fixed;
  bottom: 80px;
  right: 80px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}






